*.DS_Store
.bundle
.autotest
.sass-cache/*

clean.sh
backup.sh
gitchanges.sh
dump.rdb

log/*
tmp/*

db/*.sqlite3
db/*.rdb
db/.DS_Store
db/schema.rb

sb-sublime/*
.idea/*
nbproject/*

Passengerfile.json

.env
.env.production
.env.staging
.env.development

config/environments/development.rb
config/environments/staging.rb
config/environments/test.rb
config/environments/production.rb

config/deploy/staging.rb
config/deploy/development.rb
config/deploy/production.rb

config/database.yml
config/schedule.rb
config/cable.yml

public/robots.txt
public/assets/*
public/system/*
public/uploads
public/profiles/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
