<td class="details" colspan="6" style="background-color: lavender;">
  <div class="row">
    <div class="col-md-12">
      <h3>Post Comment</h3>
      <p><%= comment[:post_comment]%></p>
    </div>
  </div>
</td>
