<div class="page-content">
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body">Widget settings form goes here</div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <ul class="breadcrumb">
      <li>
        <p>YOU ARE HERE</p>
      </li>
      <li>
        <a href="#" class="active">Categories / Edit</a>
      </li>
    </ul>
    <div style="margin-bottom: 7px;">
      <%= form_tag category_path(@category.id), :method => :put  do %>
        <div class="form-group">
          <%= text_field_tag(:name, @category.name) %>
        </div>
          <%= link_to "Back", categories_path, class:'btn btn-default btn-mini' %>
          <%= submit_tag "Done", class:'btn btn-primary btn-mini' %>
      <% end %>
    </div>
  </div>
</div>